//
// Font
// --------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Telex);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

body {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 300;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Telex', serif;
    color: #317EAC;
  }
  h2 {
    line-height: 25px;
  }
}

