// Cyborg 2.2.2
// Variables
// --------------------------------------------------
// https://raw.github.com/theblacksmith/sass-bootswatch/gh-pages/cyborg/_variables.scss


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #020202;
$grayDark:              #222;
$gray:                  #999;
$grayLight:             #ADAFAE;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #33B5E5;
$blueDark:              #0099CC;
$green:                 #669900;
$red:                   #CC0000;
$yellow:                #ECBB13;
$orange:                #FF8800;
$pink:                  #FF4444;
$purple:                #9933CC;


// Scaffolding
// -------------------------
$bodyBackground:        #060606;
$mainBackground:        #060606;
$footerBackground:      #060606t;
$textColor:             $white;


// Links
// -------------------------
$linkColor:             $blue;
$linkColorHover:        $white;


// Typography
// -------------------------
$sansFontFamily:        'Droid Sans', sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          14px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        20px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    normal;    // instead of browser default, bold
$headingsColor:         $white; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px

$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           0px 6px;   // 22px

$baseBorderRadius:      4px;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             rgba(100, 100, 100, 0.1); // for striping
$tableBackgroundHover:              $grayDark; // for hover
$tableBorder:                       $grayDark; // table and cell border

// Buttons
// -------------------------
$btnBackground:                     darken($gray, 20%);
$btnBackgroundHighlight:            darken($gray, 25%);
$btnBorder:                         rgba(0, 0, 0, 0);

$btnPrimaryBackground:              $blueDark;
$btnPrimaryBackgroundHighlight:     darken($blueDark, 10%);

$btnInfoBackground:                 darken($gray, 40%);
$btnInfoBackgroundHighlight:        darken($gray, 50%);

$btnSuccessBackground:              lighten($green, 10%);
$btnSuccessBackgroundHighlight:     $green;

$btnWarningBackground:              lighten($orange, 15%);
$btnWarningBackgroundHighlight:     $orange;

$btnDangerBackground:               lighten($red, 10%);
$btnDangerBackgroundHighlight:      $red;

$btnInverseBackground:              lighten($purple, 5%);
$btnInverseBackgroundHighlight:     $purple;


// Forms
// -------------------------
$inputBackground:               #ccc;
$inputBorder:                   #bbb;
$inputBorderRadius:             $baseBorderRadius;
$inputDisabledBackground:       #555;
$formActionsBackground:         transparent;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground:            #131517;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownDividerTop:            transparent;
$dropdownDividerBottom:         #222;

$dropdownLinkColor:             $textColor;
$dropdownLinkColorHover:        $white;
$dropdownLinkColorActive:       $white;

$dropdownLinkBackgroundActive:  $linkColor;
$dropdownLinkBackgroundHover:   $linkColor;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000;
$zindexPopover:           1010;
$zindexTooltip:           1020;
$zindexFixedNavbar:       1030;
$zindexModalBackdrop:     1040;
$zindexModal:             1050;


// Sprite icons path
// -------------------------
$iconSpritePath:          "/images/glyphicons-halflings.png";
$iconWhiteSpritePath:     "/images/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight;


// Hr border color
// -------------------------
$hrBorder:                $grayDark;


// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset:       180px;


// Wells
// -------------------------
$wellBackground:                  #131517;


// Navbar
// -------------------------
$navbarCollapseWidth:             979px;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px;
$navbarBackgroundHighlight:       $grayDarker;
$navbarBackground:                $grayDarker;
$navbarBorder:                    darken($navbarBackground, 12%);

$navbarText:                      $grayLight;
$navbarLinkColor:                 $grayLight;
$navbarLinkColorHover:            $white;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      $navbarBackground;

$navbarBrandColor:                $white;

// Inverted navbar
$navbarInverseBackground:                #252A30;
$navbarInverseBackgroundHighlight:       #252A30;
$navbarInverseBorder:                    transparent;

$navbarInverseText:                      $grayLight;
$navbarInverseLinkColor:                 $grayLight;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       #242A31;
$navbarInverseLinkBackgroundActive:      $navbarInverseLinkBackgroundHover;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    $white;

$navbarInverseBrandColor:                $navbarInverseLinkColor;


// Pagination
// -------------------------
$paginationBackground:                $bodyBackground;
$paginationBorder:                    transparent;
$paginationActiveBackground:          $blue;


// Hero unit
// -------------------------
$heroUnitBackground:              #131517;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             darken(#c09853, 10%);
$warningBackground:       $grayLighter;
$warningBorder:           transparent;

$errorText:               #b94a48;
$errorBackground:         $grayLighter;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%);

$successText:             #468847;
$successBackground:       $grayLighter;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%);

$infoText:                $blueDark;
$infoBackground:          $grayLighter;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff;
$tooltipBackground:       $heroUnitBackground;
$tooltipArrowWidth:       5px;
$tooltipArrowColor:       $tooltipBackground;

$popoverBackground:       $heroUnitBackground;
$popoverArrowWidth:       10px;
$popoverArrowColor:       $popoverBackground;
$popoverTitleBackground:  $popoverBackground;

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// 1200px min
$gridColumnWidth1200:     70px;
$gridGutterWidth1200:     30px;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1));

// 768px-979px
$gridColumnWidth768:      42px;
$gridGutterWidth768:      20px;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1));


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth);

// 1200px min
$fluidGridColumnWidth1200:     percentage($gridColumnWidth1200/$gridRowWidth1200);
$fluidGridGutterWidth1200:     percentage($gridGutterWidth1200/$gridRowWidth1200);

// 768px-979px
$fluidGridColumnWidth768:      percentage($gridColumnWidth768/$gridRowWidth768);
$fluidGridGutterWidth768:      percentage($gridGutterWidth768/$gridRowWidth768);
