// Spacelab 2.2.2
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #2D2D2D;
$grayDark:              #434848;
$gray:                  #666;
$grayLight:             #bbb;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #3399F3;
$blueDark:              #405A6A;
$green:                 #3CB521;
$red:                   #CD0200;
$yellow:                #F4CA00;
$orange:                #D47500;
$pink:                  #F44B8C;
$purple:                #405A6A;


// Scaffolding
// -------------------------
$bodyBackground:        $white;
$textColor:             $gray;


// Links
// -------------------------
$linkColor:             #09d;
$linkColorHover:        $linkColor;


// Typography
// -------------------------
$sansFontFamily:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          15px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        21px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    normal;    // instead of browser default, bold
$headingsColor:         $grayDarker; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px

$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           0px 6px;   // 22px

$baseBorderRadius:      4px;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f9f9f9; // for striping
$tableBackgroundHover:              #f5f5f5; // for hover
$tableBorder:                       #ddd; // table and cell border


// Navbar
// -------------------------
$navbarCollapseWidth:             979px;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px;
$navbarBackgroundHighlight:       $grayLighter;
$navbarBackground:                lighten($grayLight, 5%);
$navbarBorder:                    $grayLight;

$navbarText:                      $textColor;
$navbarLinkColor:                 $textColor;
$navbarLinkColorHover:            $black;
$navbarLinkColorActive:           $black;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      transparent;

$navbarBrandColor:                $navbarLinkColor;

// Inverted navbar
$navbarInverseBackground:                #6C737E;
$navbarInverseBackgroundHighlight:       lighten($navbarInverseBackground, 25%);
$navbarInverseBorder:                    darken($navbarInverseBackground, 5%);

$navbarInverseText:                      $grayLighter;
$navbarInverseLinkColor:                 $grayLighter;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $white;
$navbarInverseLinkBackgroundHover:       transparent;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    $grayLighter;

$navbarInverseBrandColor:                $navbarInverseLinkColor;


// Buttons
// -------------------------
$btnBackground:                     $white;
$btnBackgroundHighlight:            $grayLighter;
$btnBorder:                         darken($btnBackground, 20%);

$btnPrimaryBackground:              lighten($linkColor, 10%);
$btnPrimaryBackgroundHighlight:     $linkColor;

$btnInfoBackground:                 lighten(#3A5D83, 10%);
$btnInfoBackgroundHighlight:        #3A5D83;

$btnSuccessBackground:              lighten($green, 10%);
$btnSuccessBackgroundHighlight:     $green;

$btnWarningBackground:              lighten($orange, 10%);
$btnWarningBackgroundHighlight:     $orange;

$btnDangerBackground:               lighten($red, 10%);
$btnDangerBackgroundHighlight:      $red;

$btnInverseBackground:              lighten($navbarInverseBackground, 15%);
$btnInverseBackgroundHighlight:     $navbarInverseBackground;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             $baseBorderRadius;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         #f5f5f5;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;

$dropdownLinkColor:             $textColor;
$dropdownLinkColorHover:        $white;
$dropdownLinkColorActive:       $white;

$dropdownLinkBackgroundActive:  $linkColor;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000;
$zindexPopover:           1010;
$zindexTooltip:           1030;
$zindexFixedNavbar:       1030;
$zindexModalBackdrop:     1040;
$zindexModal:             1050;


// Sprite icons path
// -------------------------
$iconSpritePath:          "../images/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter;


// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset:       180px;


// Wells
// -------------------------
$wellBackground:                  $grayLighter;


// Pagination
// -------------------------
$paginationBackground:                #fff;
$paginationBorder:                    #ddd;
$paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            $headingsColor;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             $white;
$warningBackground:       $orange;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%);

$errorText:               $white;
$errorBackground:         $red;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%);

$successText:             $white;
$successBackground:       $green;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%);

$infoText:                $white;
$infoBackground:          $blue;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff;
$tooltipBackground:       #000;
$tooltipArrowWidth:       5px;
$tooltipArrowColor:       $tooltipBackground;

$popoverBackground:       #fff;
$popoverArrowWidth:       10px;
$popoverArrowColor:       #fff;
$popoverTitleBackground:  darken($popoverBackground, 3%);

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// 1200px min
$gridColumnWidth1200:     70px;
$gridGutterWidth1200:     30px;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1));

// 768px-979px
$gridColumnWidth768:      42px;
$gridGutterWidth768:      20px;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1));


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth);

// 1200px min
$fluidGridColumnWidth1200:     percentage($gridColumnWidth1200/$gridRowWidth1200);
$fluidGridGutterWidth1200:     percentage($gridGutterWidth1200/$gridRowWidth1200);

// 768px-979px
$fluidGridColumnWidth768:      percentage($gridColumnWidth768/$gridRowWidth768);
$fluidGridGutterWidth768:      percentage($gridGutterWidth768/$gridRowWidth768);