// Maintenance
// CSS for maintenance page
// --------------------------------------------------
.maintenance-page {
  #main-wrapper {
    #main {
      padding-bottom: 30px;
      .sidebar {
        margin-bottom: 20px;
        ol.task-list {
          margin: 0 ;
          padding: 0;
          li {
            font-size: 1.1em;
            line-height: 1.3em;
            margin: 0 0 10px;
            i {
              font-size: 1.5em;
              margin: 3px 10px 0 0;
            }
            &.done {
              color: #999999;
            }
            &.active {
              font-weight: 800;
            }
          }
        }
      }
      .content {
        form {
          border: 1px solid #e5e5e5;
          padding: 20px 20px 0;
          @include border-radius(4px);
          .form-actions {
            margin: 20px -20px 0;
            @include border-radius(0 0 4px 4px);
            .form-submit {
              font-size: 20px;
              padding: 10px 25px;
            }
          }
        }
      }
    }
  }
  .system-status-report {
    border-collapse: separate;
    border-left: 0;
    tr {
      td {
        padding: 10px 8px;
        border-top: none;
        &.status-description {
          padding-left: 40px;
          font-size: 0.9em;
        }
      }
    }
  }
  .btn {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    line-height: 22px;
  }
}

@media (max-width: 767px) { 
  .maintenance-page {
    .page-header {
      margin-bottom: 10px;
      h1 {
        float: none;
        text-align: center;
      }
    }
    .steps {
      text-align: center;
      margin-bottom: 15px;
    }
    form {
      h3,
      p.lead {
        text-align: center;
      }
    }
  }
}